<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.titlecase, blog %></h2>

  <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>

  <% if logged_in?(:site_admin) %>
  	<nav class="breadcrumb">
  		<%= link_to blog.status.titlecase, toggle_status_blog_path(blog), class: 'breadcrumb-item' %>
      <%= link_to 'Edit', edit_blog_path(blog), class: 'breadcrumb-item' %>
      <div class="breadcrumb-item"><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } if logged_in?(:site_admin) %></div>
		</nav>
  <% end %>

  <p class="blog-post-meta">
		<%= markdown blog.body %>
  </p>
</div>
