<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <META name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main" class="container">
      
      <%= render 'shared/blog_header' %>

      <%= render 'shared/blog_nav' %>

      <div class="row">

        <div class="col-md-9 blog-main">
          <h3 class="font-italic">
            From the Firehose
          </h3>
          <p class="border-bottom">
            <%= link_to 'Write a New Blog', new_blog_path if logged_in?(:site_admin) %>
          </p>
          <%= yield %>
        </div>

        <%= render 'shared/blog_sidebar' %>
        
      </div>

        <footer class="blog-footer">
          <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
          <p>
            <a href="#">Back to top</a>
          </p>
        </footer>

        <%= source_helper("blog") %>

      
    </main>

  </body>
</html>
